@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.navbar{
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
}

.logo{
    font-family: "Comfortaa";
    font-weight: 700;
}

#navbarNavDropdown{
    float: right;
    font-family: "Comfortaa";
}

.features{
    width: 100%;
}

.feature-item{
    float: left;
}